:root {
	--black: #3b434e;
	--white: #fff;
	--grey: #a4a4a4;
	--grey-light: #ebebeb;
	--grey-dark: #787d85;
	--primary: #7653fc;
	--primary-hover: #5234b4;
	--red: #de0000;
	--red-light: #f7abab;
	--green: #1dc47e;
	--green-light: #c8f8e4;
	--font-family-default: "Noto Sans", sans-serif;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #f5f6f8;

	font-family: var(--font-family-default);
}

a {
	text-decoration: none;

	color: inherit;
}

h1,
h2,
h3 {
	margin: 0;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	body {
		color: white;
		background: black;
	}
}
